 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 id="aboutHeading">About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Snowflake Analytics specialises in support, maintenance and development of business systems that build on and extend the Snowplow analytics ecosystem. It was formed by three technologists with broad real-world experience in Snowplow, data analytics and event databases.</p>
                </div>
                <div class="col-lg-4">
                    <p>Our founding team of experts has deep, broad and hands-on experience in digital analytics, cross-channel marketing, ad tech, data science, IPTV tracking, media measurement and digital optimization.</p>
                </div>
            </div>
        </div>
    </section>